Daily AI News Digest Email at 9 AM.json
{
  "name": "Daily AI News Digest Email at 9 AM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        128
      ],
      "id": "e36c32d8-3768-487b-b57c-88a3633636c5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=Artificial%20Intelligence&language=en&sortBy=publishedAt&pageSize=5&apiKey=46120b4db6ab4d969be6cf64d04e5e29",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        128
      ],
      "id": "9b6a1b1d-3633-4cfc-b452-e9bf60cfec26",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional AI news editor.\n\nYou will receive today's AI news articles in JSON format.\n\n{{ JSON.stringify($json.articles, null, 2) }}\n\nCreate a beautiful email in HTML.\n\nRequirements:\n- Title: 📰 Daily AI News\n- Mention today's date.\n- Show only the Top 5 stories.\n- For each story include:\n  • Headline\n  • Source\n  • Summary\n  • Why it Matters\n- Separate each story with a horizontal line.\n- At the end include:\n  📈 Overall AI Industry Trend\n- Use headings, bullet points, bold text, and emojis.\n- Make it professional and easy to read.\n\nReturn ONLY HTML.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        128
      ],
      "id": "0756a85e-5149-4fc4-9c60-5cdfcb5dae01",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sendTo": "santhoshpece2004@gmail.com",
        "subject": "=📰 Daily AI News - {{$now}}",
        "message": "={{$json.output}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        144
      ],
      "id": "aa464493-535d-4737-a51d-0869e5006a5b",
      "name": "Send a message",
      "webhookId": "335e0869-f358-4146-b44a-d25c6680706f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Uv4SyiFUf7XEflva",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        304,
        336
      ],
      "id": "1bb79957-e729-4a51-ba66-8b147ebc457f",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "K1SOd6FIJ4QZbpNR",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f28ab80-78e7-4452-abee-82e88ddef029",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a186997a7a4b85ba5f402095ae107457bbb75843c9bf8f654c5e64392f3f72f6"
  },
  "nodeGroups": [],
  "id": "cAlCzqmCw0SEgn2o",
  "tags": []
}